
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="offset-md-6 col-md-2"><a class="header-top-right"> +91-1800-1038-583/620-531-5631</a></div>
      <div class="col-md-2"><a class="header-top-right" href="mailto:nfo@roservicesolution.coim"> info@roservicesolution.com  </a></div>
      <div class="col-md-2"><a href="#"  class="header-top-right"> Fast Service Within 24 Hours</a> </div>
    </div>
         
  </div>
  <div class="page-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/ro-logo.gif" width="105%" alt=" " />
        </div>
        <div class="col-md-4 align-self-end"></div>
      </div>
    </div>
  
  </div>

</div>

<app-navbar></app-navbar>
<router-outlet></router-outlet>
 


